<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.1.4" targetFramework="net461" />
  <package id="NLog" version="4.6.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
</packages>