<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" 
            name="filetarget" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${newline}------Begin Exception----${newline}}${exception:format=tostring}${when:when=length('${exception}')>0:Inner=${newline}------End Exception----${newline}}"
            maxArchiveFiles="3"
            archiveNumbering="Date"
            archiveEvery="Day"
            fileName="${environment:variable=TEMP}/AudioBand.log"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            concurrentWrites="true"
            />
    <target xsi:type="Null" name="null"/>
  </targets>
  <rules>
    <logger name="CSDeskBand.*" minLevel="Trace" writeTo="null" final="true"/>
    <logger name="*" minLevel="Debug" writeTo="filetarget"/>
  </rules>
</nlog>