<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
  <targets>
    <target xsi:type="File" 
            name="filetarget" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${audioband-exception:format=toString}"
            maxArchiveFiles="3"
            archiveNumbering="Date"
            archiveEvery="Day"
            fileName="${environment:variable=TEMP}/AudioBand.log"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            concurrentWrites="true"
            />
    <target xsi:type="Null" name="null"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" writeTo="filetarget"/>
  </rules>
</nlog>