<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSDeskBand" version="1.0.0" targetFramework="net461" />
  <package id="CSDeskBand.Win" version="1.0.0" targetFramework="net461" />
  <package id="NLog" version="4.4.13" targetFramework="net461" />
  <package id="Svg" version="2.3.0" targetFramework="net461" />
</packages>