<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net47" />
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="FastMember" version="1.4.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" requireReinstallation="true" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net461" />
  <package id="Nett" version="0.10.1" targetFramework="net461" />
  <package id="PubSub" version="3.0.0" targetFramework="net47" />
  <package id="SimpleInjector" version="4.5.1" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Svg" version="2.4.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net461" />
</packages>