<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.1.0" targetFramework="net47" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="Dsafa.WpfColorPicker" version="1.2.0" targetFramework="net47" />
  <package id="FastMember" version="1.4.1" targetFramework="net461" />
  <package id="FluentWPF" version="0.6.1" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net47" />
  <package id="Nett" version="0.11.0" targetFramework="net47" />
  <package id="SimpleInjector" version="4.5.1" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net47" developmentDependency="true" />
  <package id="Svg" version="2.4.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>