<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="AUDIOBANDINSTALLFOLDER">
            <Component Id="cmpDFDA9A7AE84190AEFFC1A0FD19DC146E" Guid="*">
                <File Id="fil79C15365BB76A7AA1EA973588F6E8F47" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AudioBand.AudioSource.dll" />
            </Component>
            <Component Id="cmp1127955BC72B686BA2A536C8940B3C73" Guid="*">
                <File Id="fil363FDFE711BAF6E61F630F07E55FC50B" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AudioBand.dll.config" />
            </Component>
            <Component Id="cmp24DA8EC92F880421B97CFC7358F4FF3B" Guid="*">
                <File Id="fil4A2D333B7A7D48DFE74B037DD99A568B" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AudioBand.Logging.dll" />
            </Component>
            <Component Id="cmp1D31284BFA77C845F4C3BF4008E9E375" Guid="*">
                <File Id="fil31F5EEA4D8B98D96E3647FBCCCAD1A27" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AudioBand.pdb" />
            </Component>
            <Component Id="cmp50BEB4807C4626FB52F27CEDE9325632" Guid="*">
                <File Id="fil42256345F40E97D9D6ECB7A611D2C141" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AudioSourceHost.dll" />
            </Component>
            <Component Id="cmp9F2CCC9167BB532AC33C39D7AD2F91BC" Guid="*">
                <File Id="fil63BF8B9756B237AE5EF4ABBA3E97DFB4" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AutoMapper.dll" />
            </Component>
            <Component Id="cmpEF13698DB0899AA74FA4B1685D5EBF14" Guid="*">
                <File Id="fil07265357FEE3B423935AA580AA97B9E7" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\AutoMapper.pdb" />
            </Component>
            <Component Id="cmp675406CE772A0524326B9D865BFDC9A5" Guid="*">
                <File Id="fil8AB75E7A1618607A9786865164E12C97" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\Ben.Demystifier.dll" />
            </Component>
            <Component Id="cmp88FD3DD880BAAF3FACCFB00A2945451E" Guid="*">
                <File Id="fil7F0207D60FD9C1C151F221F4B0CD9C10" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\ControlzEx.dll" />
            </Component>
            <Component Id="cmp70566FA8E10B1DE09EF7B1AF2FB6CC87" Guid="*">
                <File Id="fil1665F1A4944DD8B861EE63C157037B96" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\ControlzEx.pdb" />
            </Component>
            <Component Id="cmp53692014DDD1F4AA557930F83C4BBF3E" Guid="*">
                <File Id="fil2FA90092C4D4229EC2B1E561C0CF8350" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\Dsafa.WpfColorPicker.dll" />
            </Component>
            <Component Id="cmp7FB2A0D3912677B887F4735913172042" Guid="*">
                <File Id="filB55C08849291152034C07A083A55150A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\FastMember.dll" />
            </Component>
            <Component Id="cmp3E55CBA6D3614E045FF96198D1805D3A" Guid="*">
                <File Id="fil2D069D2F38EF926A569E7F5FB1DFD543" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\FluentWPF.dll" />
            </Component>
            <Component Id="cmpB18067F37D3CE51135D748E730F00324" Guid="*">
                <File Id="fil80598211222B1695C44073A7C62A431E" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp4238C26DF4D05F486DDBFCDAA34528A6" Guid="*">
                <File Id="filF22967BEBAD13ADE99551320191D13DB" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\MahApps.Metro.pdb" />
            </Component>
            <Component Id="cmp5706FE7488167E866498371DD580C945" Guid="*">
                <File Id="fil59EF290C36B4C9EF34D1869CE1BFDC15" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp436BC7C9C20612E7030FEDDEE05407CA" Guid="*">
                <File Id="fil82CEF18853F085A15B37D3F6226BA61C" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\netstandard.dll" />
            </Component>
            <Component Id="cmpA60A6494ABD0F396BD384F0D7202D1C8" Guid="*">
                <File Id="filFC29F2242AECEB9AF6C4661BA0B42E7E" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\Nett.dll" />
            </Component>
            <Component Id="cmp5976585E415E2B39ED5DD2DE777E7540" Guid="*">
                <File Id="filDEAE89BAD2D4CB6BDB8347CC6D842D64" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\nlog.config" />
            </Component>
            <Component Id="cmp3EEB4642677E356329BAAD33DFC84B91" Guid="*">
                <File Id="filCB1C5FED8E77FBEC41392EB4992ACEAD" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\NLog.dll" />
            </Component>
            <Component Id="cmpD29745000D8F9D577D3A18A1246241AE" Guid="*">
                <File Id="filCA29E6A38BE9BCBA97FEE457210956D3" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Converters.Wpf.dll" />
            </Component>
            <Component Id="cmpCD7D57B7F39C1B13EC4C0562F25019BB" Guid="*">
                <File Id="filE71B0C5361FA5E51217E7A307F5A13F7" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Core.dll" />
            </Component>
            <Component Id="cmp44601B7EDC871FBE219612C29E6223CE" Guid="*">
                <File Id="filA44BB2D1781CC9CE802C245C49765097" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Css.dll" />
            </Component>
            <Component Id="cmp3E866BFAEBE0D2BA8DCC826F443C19CC" Guid="*">
                <File Id="filF5BB8CE960DFB7ABDD16A48A9AD65441" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Dom.dll" />
            </Component>
            <Component Id="cmp3CC83A9DAD7C6B25C593401FAD33AAA7" Guid="*">
                <File Id="fil60188C96E5A3F0F1169D71BCBB5A1888" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Model.dll" />
            </Component>
            <Component Id="cmp553148365A957D97DA38210A3711BDB4" Guid="*">
                <File Id="filE100B4FD8138AF25E16D143D17B2C62D" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Rendering.Gdi.dll" />
            </Component>
            <Component Id="cmpD24846801A3C176C230CD4F545E8C58A" Guid="*">
                <File Id="fil6D243F784B3093336F2D35A704A48692" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Rendering.Wpf.dll" />
            </Component>
            <Component Id="cmp81CE94630702E27736A0B382A252B639" Guid="*">
                <File Id="fil5AD177A8DB31188E07FD5369F8A9DA43" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SharpVectors.Runtime.Wpf.dll" />
            </Component>
            <Component Id="cmp2AA2F52C252BB62AFF8E477CB5AD9EE8" Guid="*">
                <File Id="fil0FC1807D8C731D1731F52B50CE0F4BDC" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\SimpleInjector.dll" />
            </Component>
            <Component Id="cmp19070ACED8310F0D94F6C7422F4AD6D4" Guid="*">
                <File Id="filD9C1D66AC0B349254EC13321564C1F85" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmp26BE9836CA6A883221FEFA0CF2B931B2" Guid="*">
                <File Id="filC1EA0B26F0E17F46B077EDDF94C895B0" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp50438F199A27E6A69FE149B793AD9A64" Guid="*">
                <File Id="fil8C0E50F8D3A247116E7C74A1704A5C9A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp96EA6357287971819C4092EB2C21F509" Guid="*">
                <File Id="fil32B8FF460FF75E533DF861DDC02F66C6" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmpB77F98D14BBFD511DD09C02AD3187129" Guid="*">
                <File Id="fil112DB95977D76C033C7238996E2461E4" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmpEA2FA202C824EAABF8A7BEADFB2F7A9A" Guid="*">
                <File Id="fil677D7FCB0F7C2DAB95709E5899B7F741" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp5020B0926A75A382D2449ADECDFCA2C5" Guid="*">
                <File Id="fil6D392C62F91C189E7563379E4C7B0D07" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmpA5A723EBCDF13B652242C6DE8E8D213A" Guid="*">
                <File Id="fil1735755443F0943A998BAC3A5EA1B7A3" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmpA176840D231C90273920987837598521" Guid="*">
                <File Id="fil55F18E6B34B9F7E384014B8C99529BB4" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp69415FEDCD11B7C7BE6287FB0C8DEB39" Guid="*">
                <File Id="fil60C0336B85C4B82F1E5B6730B856703F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmpFED09E548C113A4DB46CAD6002DA0DA5" Guid="*">
                <File Id="fil123242E65C4DBAE93286DB172254180F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Console.dll" />
            </Component>
            <Component Id="cmpAFB026D2FBC8D36229ABE9DE57A14C5A" Guid="*">
                <File Id="filF8FACBBAACD963C3EE471BB448E994ED" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmpCCCE696E7C0B4554BEF07A1317F2B8A4" Guid="*">
                <File Id="filAD2273D9506EB967221725B44E8C105D" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp0F695FCE7C3F5CA0BE5829912A49186B" Guid="*">
                <File Id="filEBDD550EC5D1FA156BAD3B78C5846031" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmpE51C2C46176C97E8D38C4E1B6B4C1FF5" Guid="*">
                <File Id="fil6B2EEA0A59E94D476E0093B26148DE05" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmp707471E4A414175D4FE736F27473497D" Guid="*">
                <File Id="fil8BC5C270D247E281C4B3D5AF7D06172F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpF30D46039D76148B9532751C812232D6" Guid="*">
                <File Id="filFB5E4EEB1B7F21D1540BB6F8BE81F362" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmpE7A858123D29595E304CA3DF33AA6D9F" Guid="*">
                <File Id="fil48FAB2CBDE736EE6530C58FBCDAD4F81" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmpFF63888ADB0DD77624AD01672280AEB2" Guid="*">
                <File Id="fil602F437B5C196E7C68C8EEE2CD1FB264" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp6DB6BFA42EBD529B8664DC29978E0135" Guid="*">
                <File Id="fil7CE0CD483D81E7AD9439E3001B0230B5" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmpDC2990DA9A44662602BD091F120A1FB2" Guid="*">
                <File Id="fil863DA14C052B5AF88CFC3A5F68ACB0C1" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp72F81DC9A7B49CF02A250721FAEC6C82" Guid="*">
                <File Id="filA530AF836EAB078A29AA6661C985835D" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp1BA8925A5D9EDAFCBCC0E4B3930A7E3E" Guid="*">
                <File Id="fil975EA97D4CBD6DBCDCA7E4D0D2651881" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmp4B5DC6710C478DFB559EEB1B63E4A75A" Guid="*">
                <File Id="filD770CBFA929F1260FB0D40FBCBAA9443" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmpE76BE1749434CC10BDB35A8B9444881B" Guid="*">
                <File Id="fil1B4C62BE077DBECEE252C05B00D9C46A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp2CDFAE00EA30F81F3BB7693D9F1AA74E" Guid="*">
                <File Id="fil1DC5F2A241ED5B407DF66671635B62EA" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp074132C79CCEE82FBD8362BDB8B245E9" Guid="*">
                <File Id="fil4C1996D49388E426AE5031336C757736" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp5915D7851292C00D443A0D16203C3C9B" Guid="*">
                <File Id="filC74F2F2EF0ACF4BFAFC3157C559D0B2A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmpF13B1736FB9A1E236F6346FC384F7F5F" Guid="*">
                <File Id="fil1BB91C3E0339D3CD34023703897C2BFF" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.dll" />
            </Component>
            <Component Id="cmp4E48DFBFD47638D0B71F25F550E42C4C" Guid="*">
                <File Id="fil811AC05B6B472FAEC8ED73B37C40D443" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmpF5C6733A050A7F9210F82860E68BFCA9" Guid="*">
                <File Id="fil4596B2F8BAC1A4303EBB6181AC8455FA" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmp26AB73050C38413D7C55FEAEF602D149" Guid="*">
                <File Id="fil10AFA14509886D09FCC0DBE88C717152" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp8FE8789C93638EC2D95794E259883CE2" Guid="*">
                <File Id="fil57DDB5D9FFBE2080E215B43B91E9B64C" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp31EDCDB5148CC1E04AF3DB1E06611480" Guid="*">
                <File Id="fil7B8D78B9790E5C87C8C7558CF1849A10" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmpD1D4B21C7C6516E40FA3595754D89456" Guid="*">
                <File Id="fil5A8112EF945DEE87711BB19803F662C2" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp2492CA4D3D7904880428861D79B52B21" Guid="*">
                <File Id="filFD2A8D17D13D94B71DBE1DB4B4DE04DA" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmp0741B2AF3C59E6BA56BC18465401FFA4" Guid="*">
                <File Id="fil4D683EA44131AE1668DE51A80F547002" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpBE5DE27126F1505B5F4C6C09F5EE94C4" Guid="*">
                <File Id="fil2E0DCE191CB80BCE92AA35E1DCE928B4" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpD6740ABE153491E11D2624C8C90EF81C" Guid="*">
                <File Id="fil1B354F5EB9A312EAD79F702C3132C1FF" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1D9D585CC8F2C958A3B4DA4FAA0D56D0" Guid="*">
                <File Id="filF5C4504CF2CC6B3ABC7A4A6EFE4C8B26" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpFC1019F3EFD1C8AAC07D73C02639C9AB" Guid="*">
                <File Id="fil91CA9D861816DB22626D270A4F063AF0" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmp5008BB22C46DF22B25AA2630B7B84E22" Guid="*">
                <File Id="fil805FDBF925ED17F231DBD95BD9AE6049" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmpA61BC8AF07F594A11CFBCCA7481FBD63" Guid="*">
                <File Id="fil189DB1602D418F1A88E9DC02EFAF49E0" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpAC37EA2D10132D92DB6A079542B138A1" Guid="*">
                <File Id="fil9EEF6F7AA83D6D47C8E608C150EDBB2C" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmpB38CA6C1F27F6F3FAB9E0F7AFB362290" Guid="*">
                <File Id="filA06E9A116DE1F67C0FA7D629D5EC66D6" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp1E6903A23B86CE4C33766656676EF6C5" Guid="*">
                <File Id="fil72921CDBB12A0EC5021779FF53F939C0" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp3645AE259C6FCBE564A7AE5004744488" Guid="*">
                <File Id="filB9D5220EB16FB4B6206B3BB58537026B" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp42C0ECE147C902C79611C544DD5175B8" Guid="*">
                <File Id="fil847089457E47DDD1680F2B6EBC09ED36" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp53D3E842B4F6E816068B9CEA76C8C693" Guid="*">
                <File Id="filA215C9F9A74017E5DEBFBAF13DE09669" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpFA17964FF8A37DD1BE13FF24682B6871" Guid="*">
                <File Id="filD6C555C9BD5A272189556BD20668B843" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpCCC811514635086A731400B5EB7F8024" Guid="*">
                <File Id="fil5A01A80ACFBF67F8329A8DAB0A61534E" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmp2DAEF30F8F0CE50CF2EA887288F368F7" Guid="*">
                <File Id="fil419253C6F3CE3BE32C7C54B17DF3DD0C" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmpDAB68695AB4EF322AEC093AF89928AF1" Guid="*">
                <File Id="fil4F6648B0BF2E1774C8FBE76CEB2E60C5" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp30880AA120883BE4704FB2D3AC2FA69D" Guid="*">
                <File Id="filD2BC52E1D44758C0C969DAB80AB95FEF" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmp3AAA57875D62DBEA3B8E34FC1BD1F464" Guid="*">
                <File Id="filB0BAADE9BA2CE3BDA49E8D4F254D8ED8" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmpD9505B9035F1A1159815071FD5BEF034" Guid="*">
                <File Id="fil0CE70A2E77F5E73765B86EA59FC50654" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Reflection.Metadata.dll" />
            </Component>
            <Component Id="cmp5AF39EEA977A62183961A0ED21300054" Guid="*">
                <File Id="filBDD36D2CCEFF73710ABE36C16FBD4EA5" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp081622B3D8CC384ED550C0B92E7BFE68" Guid="*">
                <File Id="fil9D242D9B50C24A167F19664DE48C3A90" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp467598C1A3463E4A8314769D7CF02435" Guid="*">
                <File Id="fil187D610F346B3EDD3664A4539011FA5F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp53A7CDBAA6F7A180942BF7F35EE8F341" Guid="*">
                <File Id="fil364332A3C12A82CD49C6307E1A5C4D52" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmp4ACA215819C352DEFD8144C93156338F" Guid="*">
                <File Id="filA5D8D9F5381BE6705E0370A1F35B2F4A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmpF579BF44E5D90D5C37CED8C588E5506E" Guid="*">
                <File Id="fil2A682D9EB632F176D68723BAE1F96F0F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmpC0EEB4812A4E7308D8F5B9261CDA5779" Guid="*">
                <File Id="fil3DB53F09E83B84D95E246DB8166D19EB" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpC01685ECCD4B554D7376958C4668FC8E" Guid="*">
                <File Id="fil43103D2C0673565FA6C9F04FFDAEAF99" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmp82CB5899BAE560D41E2542FDBC1556C2" Guid="*">
                <File Id="fil237D2C08BEAD9609ADB8119F15BB7CD6" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmpE430BEA19CB30C207DC53943EF8FC05B" Guid="*">
                <File Id="fil10B25FFA98FF15C2E7DC07285F0DE91E" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmp704D8A209B8E5F91146A770806B0FB24" Guid="*">
                <File Id="filB0495335D26DDBC3D82EBD4BE8F5CEE1" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmpCABBF4BFC882B0800F2E12219BCCC40C" Guid="*">
                <File Id="fil80548E10C03DA230489DECD4D42DDA36" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmp55E519E1FCB53761875936E100AD7677" Guid="*">
                <File Id="filBB5D5F40D21A3EF20A99742D229A6708" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmpEF1ED99B7BE4F0D83579765F29FF1E54" Guid="*">
                <File Id="filA4E5BE9E4F6915139ABA561E8F93770D" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp18B0122B9682E36E8D80D95B4433E313" Guid="*">
                <File Id="fil37F7183B04E32D77D528A9586270F5B8" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp0490A1BF5E94629553A5215A90B6E77E" Guid="*">
                <File Id="fil6042706EFD56BB85B0DFA61EFE65FB01" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmp15A2D49FA2B87FFE6F4E955C52C96953" Guid="*">
                <File Id="fil773485DA49474A826C664623BDA02EA8" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp9B59B875552C3408C0ADA4E34CBF432D" Guid="*">
                <File Id="filB14A389DF38BB9BD2F1AA1AA36C07EA7" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp68B1B9F082548041244E382B1180E5AF" Guid="*">
                <File Id="filCA7A8FCA6CE9B05899244D2ED53FF305" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmpF31AD30405FAA7BBC3B5A81C2EE6CB55" Guid="*">
                <File Id="filFA94DE789839A7BF13873F67DA875CC1" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp4BB220C4CDD47190CA88D02B8739BED6" Guid="*">
                <File Id="fil9CE0C40B90DB2B5A420E096C121924D2" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp27069A1F5B89FEF7629F6FABAF14DB06" Guid="*">
                <File Id="filCB5337A6EC8C44BD94C1BD927B43761A" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp9F4C1438B37756947BF36BFC4871A4E5" Guid="*">
                <File Id="fil56903E80749BFDAB66876DA990336E26" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmpEBFAD42E27CAAFCCD23A3C1F2344D260" Guid="*">
                <File Id="fil2D3C733479F397A9F1E3B879D7B3AC8F" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmpEB006C055AD8DF752C0AAC565DEB605A" Guid="*">
                <File Id="fil014E7A42615C40EF90EFA26C34C74242" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp51B624E164D738090E957ADF6CA11483" Guid="*">
                <File Id="filB3320F61E2AD1C52E340EA2BA96C5F63" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmp09AA70B8DA1C08A86A1D375B16CC6CC2" Guid="*">
                <File Id="filEA8B2947837E1BD3512CA5FA921CE416" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp36A527FAD50FE4FC2F4C9E81CB973242" Guid="*">
                <File Id="fil84ADC6D22664DA46339423F353F718B2" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpA4CEF408C736CC82FA8D488FC76B667C" Guid="*">
                <File Id="filA029EDAA3F622169DF397D75955ECB52" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp48746AD2D45CB9A0DC30DBEF18918C3B" Guid="*">
                <File Id="fil95CAF048CBE6F1BC66D423594ED83280" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmp81DD15293A854C34271A5FEF11A3A974" Guid="*">
                <File Id="filA903328EBCD3F5E8E74527511325D511" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp3A96ACFE6AED53D165F173AA85DC44FA" Guid="*">
                <File Id="fil947DDFA51FA82410A9BC0E6E839DE187" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp0610ADED1363E01C3927C5F93521D632" Guid="*">
                <File Id="fil8D0ECC39FBB90BFAE288224DB7DC17DA" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp49AAEF50701793192FCE37D6A59C133F" Guid="*">
                <File Id="filCE47A0F9CF6C2FC653E92BEA08A29DE5" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp85118B0F3C763CE6C14032C9D077A1ED" Guid="*">
                <File Id="fil1C62CF5E22CCBBB34069311A739ABE38" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp97351D4A76B8323A3C60ECA0569366B4" Guid="*">
                <File Id="filF23E60DB1C8A068D0DC0ABA097240FE3" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmpB410BDED8071DDA3C0C553425AC0BDF8" Guid="*">
                <File Id="filF584455E53746B475E0B79238E88DDF5" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp0F38A73DD5F05E6DA095E0611BD8F5A4" Guid="*">
                <File Id="filFAFA0BFC6AD100BB7632FD3222989FCA" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmpF7C21300557FC99788EC11C855A8B683" Guid="*">
                <File Id="filC0753A88E721A10AE3E394BD08EB581D" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmpE651EEAC85C48A2C537415E207DB943D" Guid="*">
                <File Id="fil66FC68418A47BBEB891DF57520B00B82" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp64D25507933CBB5833177800B0E61005" Guid="*">
                <File Id="fil215FEB96C625263CF1C751E8A7F21EB4" KeyPath="yes" Source="$(var.AudioBandHarvestPath)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AudioBandFiles">
            <ComponentRef Id="cmpDFDA9A7AE84190AEFFC1A0FD19DC146E" />
            <ComponentRef Id="cmp1127955BC72B686BA2A536C8940B3C73" />
            <ComponentRef Id="cmp24DA8EC92F880421B97CFC7358F4FF3B" />
            <ComponentRef Id="cmp1D31284BFA77C845F4C3BF4008E9E375" />
            <ComponentRef Id="cmp50BEB4807C4626FB52F27CEDE9325632" />
            <ComponentRef Id="cmp9F2CCC9167BB532AC33C39D7AD2F91BC" />
            <ComponentRef Id="cmpEF13698DB0899AA74FA4B1685D5EBF14" />
            <ComponentRef Id="cmp675406CE772A0524326B9D865BFDC9A5" />
            <ComponentRef Id="cmp88FD3DD880BAAF3FACCFB00A2945451E" />
            <ComponentRef Id="cmp70566FA8E10B1DE09EF7B1AF2FB6CC87" />
            <ComponentRef Id="cmp53692014DDD1F4AA557930F83C4BBF3E" />
            <ComponentRef Id="cmp7FB2A0D3912677B887F4735913172042" />
            <ComponentRef Id="cmp3E55CBA6D3614E045FF96198D1805D3A" />
            <ComponentRef Id="cmpB18067F37D3CE51135D748E730F00324" />
            <ComponentRef Id="cmp4238C26DF4D05F486DDBFCDAA34528A6" />
            <ComponentRef Id="cmp5706FE7488167E866498371DD580C945" />
            <ComponentRef Id="cmp436BC7C9C20612E7030FEDDEE05407CA" />
            <ComponentRef Id="cmpA60A6494ABD0F396BD384F0D7202D1C8" />
            <ComponentRef Id="cmp5976585E415E2B39ED5DD2DE777E7540" />
            <ComponentRef Id="cmp3EEB4642677E356329BAAD33DFC84B91" />
            <ComponentRef Id="cmpD29745000D8F9D577D3A18A1246241AE" />
            <ComponentRef Id="cmpCD7D57B7F39C1B13EC4C0562F25019BB" />
            <ComponentRef Id="cmp44601B7EDC871FBE219612C29E6223CE" />
            <ComponentRef Id="cmp3E866BFAEBE0D2BA8DCC826F443C19CC" />
            <ComponentRef Id="cmp3CC83A9DAD7C6B25C593401FAD33AAA7" />
            <ComponentRef Id="cmp553148365A957D97DA38210A3711BDB4" />
            <ComponentRef Id="cmpD24846801A3C176C230CD4F545E8C58A" />
            <ComponentRef Id="cmp81CE94630702E27736A0B382A252B639" />
            <ComponentRef Id="cmp2AA2F52C252BB62AFF8E477CB5AD9EE8" />
            <ComponentRef Id="cmp19070ACED8310F0D94F6C7422F4AD6D4" />
            <ComponentRef Id="cmp26BE9836CA6A883221FEFA0CF2B931B2" />
            <ComponentRef Id="cmp50438F199A27E6A69FE149B793AD9A64" />
            <ComponentRef Id="cmp96EA6357287971819C4092EB2C21F509" />
            <ComponentRef Id="cmpB77F98D14BBFD511DD09C02AD3187129" />
            <ComponentRef Id="cmpEA2FA202C824EAABF8A7BEADFB2F7A9A" />
            <ComponentRef Id="cmp5020B0926A75A382D2449ADECDFCA2C5" />
            <ComponentRef Id="cmpA5A723EBCDF13B652242C6DE8E8D213A" />
            <ComponentRef Id="cmpA176840D231C90273920987837598521" />
            <ComponentRef Id="cmp69415FEDCD11B7C7BE6287FB0C8DEB39" />
            <ComponentRef Id="cmpFED09E548C113A4DB46CAD6002DA0DA5" />
            <ComponentRef Id="cmpAFB026D2FBC8D36229ABE9DE57A14C5A" />
            <ComponentRef Id="cmpCCCE696E7C0B4554BEF07A1317F2B8A4" />
            <ComponentRef Id="cmp0F695FCE7C3F5CA0BE5829912A49186B" />
            <ComponentRef Id="cmpE51C2C46176C97E8D38C4E1B6B4C1FF5" />
            <ComponentRef Id="cmp707471E4A414175D4FE736F27473497D" />
            <ComponentRef Id="cmpF30D46039D76148B9532751C812232D6" />
            <ComponentRef Id="cmpE7A858123D29595E304CA3DF33AA6D9F" />
            <ComponentRef Id="cmpFF63888ADB0DD77624AD01672280AEB2" />
            <ComponentRef Id="cmp6DB6BFA42EBD529B8664DC29978E0135" />
            <ComponentRef Id="cmpDC2990DA9A44662602BD091F120A1FB2" />
            <ComponentRef Id="cmp72F81DC9A7B49CF02A250721FAEC6C82" />
            <ComponentRef Id="cmp1BA8925A5D9EDAFCBCC0E4B3930A7E3E" />
            <ComponentRef Id="cmp4B5DC6710C478DFB559EEB1B63E4A75A" />
            <ComponentRef Id="cmpE76BE1749434CC10BDB35A8B9444881B" />
            <ComponentRef Id="cmp2CDFAE00EA30F81F3BB7693D9F1AA74E" />
            <ComponentRef Id="cmp074132C79CCEE82FBD8362BDB8B245E9" />
            <ComponentRef Id="cmp5915D7851292C00D443A0D16203C3C9B" />
            <ComponentRef Id="cmpF13B1736FB9A1E236F6346FC384F7F5F" />
            <ComponentRef Id="cmp4E48DFBFD47638D0B71F25F550E42C4C" />
            <ComponentRef Id="cmpF5C6733A050A7F9210F82860E68BFCA9" />
            <ComponentRef Id="cmp26AB73050C38413D7C55FEAEF602D149" />
            <ComponentRef Id="cmp8FE8789C93638EC2D95794E259883CE2" />
            <ComponentRef Id="cmp31EDCDB5148CC1E04AF3DB1E06611480" />
            <ComponentRef Id="cmpD1D4B21C7C6516E40FA3595754D89456" />
            <ComponentRef Id="cmp2492CA4D3D7904880428861D79B52B21" />
            <ComponentRef Id="cmp0741B2AF3C59E6BA56BC18465401FFA4" />
            <ComponentRef Id="cmpBE5DE27126F1505B5F4C6C09F5EE94C4" />
            <ComponentRef Id="cmpD6740ABE153491E11D2624C8C90EF81C" />
            <ComponentRef Id="cmp1D9D585CC8F2C958A3B4DA4FAA0D56D0" />
            <ComponentRef Id="cmpFC1019F3EFD1C8AAC07D73C02639C9AB" />
            <ComponentRef Id="cmp5008BB22C46DF22B25AA2630B7B84E22" />
            <ComponentRef Id="cmpA61BC8AF07F594A11CFBCCA7481FBD63" />
            <ComponentRef Id="cmpAC37EA2D10132D92DB6A079542B138A1" />
            <ComponentRef Id="cmpB38CA6C1F27F6F3FAB9E0F7AFB362290" />
            <ComponentRef Id="cmp1E6903A23B86CE4C33766656676EF6C5" />
            <ComponentRef Id="cmp3645AE259C6FCBE564A7AE5004744488" />
            <ComponentRef Id="cmp42C0ECE147C902C79611C544DD5175B8" />
            <ComponentRef Id="cmp53D3E842B4F6E816068B9CEA76C8C693" />
            <ComponentRef Id="cmpFA17964FF8A37DD1BE13FF24682B6871" />
            <ComponentRef Id="cmpCCC811514635086A731400B5EB7F8024" />
            <ComponentRef Id="cmp2DAEF30F8F0CE50CF2EA887288F368F7" />
            <ComponentRef Id="cmpDAB68695AB4EF322AEC093AF89928AF1" />
            <ComponentRef Id="cmp30880AA120883BE4704FB2D3AC2FA69D" />
            <ComponentRef Id="cmp3AAA57875D62DBEA3B8E34FC1BD1F464" />
            <ComponentRef Id="cmpD9505B9035F1A1159815071FD5BEF034" />
            <ComponentRef Id="cmp5AF39EEA977A62183961A0ED21300054" />
            <ComponentRef Id="cmp081622B3D8CC384ED550C0B92E7BFE68" />
            <ComponentRef Id="cmp467598C1A3463E4A8314769D7CF02435" />
            <ComponentRef Id="cmp53A7CDBAA6F7A180942BF7F35EE8F341" />
            <ComponentRef Id="cmp4ACA215819C352DEFD8144C93156338F" />
            <ComponentRef Id="cmpF579BF44E5D90D5C37CED8C588E5506E" />
            <ComponentRef Id="cmpC0EEB4812A4E7308D8F5B9261CDA5779" />
            <ComponentRef Id="cmpC01685ECCD4B554D7376958C4668FC8E" />
            <ComponentRef Id="cmp82CB5899BAE560D41E2542FDBC1556C2" />
            <ComponentRef Id="cmpE430BEA19CB30C207DC53943EF8FC05B" />
            <ComponentRef Id="cmp704D8A209B8E5F91146A770806B0FB24" />
            <ComponentRef Id="cmpCABBF4BFC882B0800F2E12219BCCC40C" />
            <ComponentRef Id="cmp55E519E1FCB53761875936E100AD7677" />
            <ComponentRef Id="cmpEF1ED99B7BE4F0D83579765F29FF1E54" />
            <ComponentRef Id="cmp18B0122B9682E36E8D80D95B4433E313" />
            <ComponentRef Id="cmp0490A1BF5E94629553A5215A90B6E77E" />
            <ComponentRef Id="cmp15A2D49FA2B87FFE6F4E955C52C96953" />
            <ComponentRef Id="cmp9B59B875552C3408C0ADA4E34CBF432D" />
            <ComponentRef Id="cmp68B1B9F082548041244E382B1180E5AF" />
            <ComponentRef Id="cmpF31AD30405FAA7BBC3B5A81C2EE6CB55" />
            <ComponentRef Id="cmp4BB220C4CDD47190CA88D02B8739BED6" />
            <ComponentRef Id="cmp27069A1F5B89FEF7629F6FABAF14DB06" />
            <ComponentRef Id="cmp9F4C1438B37756947BF36BFC4871A4E5" />
            <ComponentRef Id="cmpEBFAD42E27CAAFCCD23A3C1F2344D260" />
            <ComponentRef Id="cmpEB006C055AD8DF752C0AAC565DEB605A" />
            <ComponentRef Id="cmp51B624E164D738090E957ADF6CA11483" />
            <ComponentRef Id="cmp09AA70B8DA1C08A86A1D375B16CC6CC2" />
            <ComponentRef Id="cmp36A527FAD50FE4FC2F4C9E81CB973242" />
            <ComponentRef Id="cmpA4CEF408C736CC82FA8D488FC76B667C" />
            <ComponentRef Id="cmp48746AD2D45CB9A0DC30DBEF18918C3B" />
            <ComponentRef Id="cmp81DD15293A854C34271A5FEF11A3A974" />
            <ComponentRef Id="cmp3A96ACFE6AED53D165F173AA85DC44FA" />
            <ComponentRef Id="cmp0610ADED1363E01C3927C5F93521D632" />
            <ComponentRef Id="cmp49AAEF50701793192FCE37D6A59C133F" />
            <ComponentRef Id="cmp85118B0F3C763CE6C14032C9D077A1ED" />
            <ComponentRef Id="cmp97351D4A76B8323A3C60ECA0569366B4" />
            <ComponentRef Id="cmpB410BDED8071DDA3C0C553425AC0BDF8" />
            <ComponentRef Id="cmp0F38A73DD5F05E6DA095E0611BD8F5A4" />
            <ComponentRef Id="cmpF7C21300557FC99788EC11C855A8B683" />
            <ComponentRef Id="cmpE651EEAC85C48A2C537415E207DB943D" />
            <ComponentRef Id="cmp64D25507933CBB5833177800B0E61005" />
        </ComponentGroup>
    </Fragment>
</Wix>