<?xml version="1.0" encoding="UTF-8"?>
<?define ProductVersion = '1.0.2'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
   <Product Id="*" Name="AudioBand" Language="1033" Version="$(var.ProductVersion)"
            Manufacturer="AudioBand" UpgradeCode="F5673DE4-C5B8-403C-B353-773AC427BEC3">
      <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
               Manufacturer="AudioBand" Description="Mini audio player for your task bar"/>
      <Icon Id="AudiobandIcon" SourceFile="audioband.ico" />
      <Property Id="ARPPRODUCTICON" Value="AudiobandIcon" />
      <WixVariable Id="WixUIBannerBmp" Value="installer_banner.png" />
      <WixVariable Id="WixUIDialogBmp" Value="installer_background.png" />
      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <MediaTemplate EmbedCab="yes" />
      <Feature Id="Complete" Title="AudioBand" Description="Install AudioBand and all audio sources" Display="expand" Level="1" ConfigurableDirectory="AUDIOBANDINSTALLFOLDER" Absent="disallow" AllowAdvertise="no" InstallDefault="local">
         <ComponentGroupRef Id="AudioBandFiles" />
         <ComponentGroupRef Id="AudioBandCOM" />
         <Feature Id="AudioSources" Title="Audio sources" Description="Install audio sources" Level="1" InstallDefault="local" AllowAdvertise="yes" Display="expand">
            <Feature Id="iTunesAudioSource" Title="iTunes" Description="Install support for iTunes" Level="1" InstallDefault="local" AllowAdvertise="yes">
               <ComponentGroupRef Id="iTunesFiles" />
            </Feature>
            <Feature Id="MusicBeeAudioSource" Title="MusicBee" Description="Install support for MusicBee" Level="1" InstallDefault="local" AllowAdvertise="yes">
               <ComponentGroupRef Id="MusicBeeFiles" />
            </Feature>
            <Feature Id="SpotifyAudioSource" Title="Spotify" Description="Install support for Spotify" Level="1" InstallDefault="local" AllowAdvertise="yes">
               <ComponentGroupRef Id="SpotifyFiles" />
            </Feature>
            <Feature Id="Win10AudioSource" Title="Win10" Description="Install support for Win10" Level="1" InstallDefault="local" AllowAdvertise="yes">
               <ComponentGroupRef Id="Win10Files" />
            </Feature>
            <Component Id="stub_" Directory="AUDIOSOURCESFOLDER" Guid="{A5165469-44B0-4E76-839F-E1AA9B6E978A}" KeyPath="yes" />
            <!-- Empty component so that the feature tree works properly-->
         </Feature>
      </Feature>
      <Property Id="WIXUI_INSTALLDIR" Value="AUDIOBANDINSTALLFOLDER" />
      <UI>
         <UIRef Id="AudiobandUI" />
         <UIRef Id="WixUI_ErrorProgressText" />
      </UI>
   </Product>
   <Fragment>
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="AUDIOBANDINSTALLFOLDER" Name="AudioBand">
               <Directory Id="AUDIOSOURCESFOLDER" Name="AudioSources" />
            </Directory>
         </Directory>
      </Directory>
   </Fragment>
</Wix>
